---
layout: default
title: Przestronny Pokój Dwuosobowy numer 1
section_id: pokoje
---


<div class='full parallax' style='background-image: url(images/slider/wisla_pasmo_gorskie_cienkow.jpg); color: #fff;'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Wygodny Pokój Dwuosobowy" tagline="zapraszamy do pokoju numer 1"
            color="#fff" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>


<div class='full'>
    <div class='row'>
        <div class='large-12 columns'>
            <div class='mod modBoxedSlider'>
                <div class='slides'>
                    <div class='slide'>
                        <img alt="" src="images/duzy-pokoj-dwuosobowy-nr1/01.jpg"/>
                    </div>
                    <div class='slide'>
                        <img alt="" src="images/duzy-pokoj-dwuosobowy-nr1/02.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='spacing'></div>
    <div class='row'>
        <div class='large-7 columns'>
            <h3>Pokój dwuosobowy - NR 1.</h3>
            <p>Przytulny 2 osobowy pokój z dwoma oddzielnymi łóżkami z możliwością zestawienia.</p>
            <p>Pokój jest wyposażony w łazienkę, a z okna można podziwiać piękno wiślańskich lasów oraz zachody
                słońca.</p>
            <p> W pokoju znajduje się: czajnik oraz jest dostęp do internetu bezprzewodowego (Wi-Fi)</p>
            <small>
                <p>
                    Cena pokoju za dobę, uzależniona jest od długości i termimu pobytu. Aby sprawdzić cenę, proszę
                    skorzystać
                    z formularza dostępnego na tej stronie. Dzieci do lat 3 - gratis. Dzieci do lat 8 - 30 zł za dobę
                </p>
            </small>
        </div>
        <div class='large-5 columns'>
            {% include price_calculator.html peopleMin=2 peopleMax=2 numOfPeople=2 %}
        </div>
    </div>
</div>

<div class="row">
    <div class='spacing'></div>
</div>


