---
layout: default
title: Pokoje w Wiśle
section_id: pokoje
works:
  - image: images/duzy-pokoj-piecioosobowy-nr3/01.jpg
    title:
    link_to: /duzy-pokoj-piecioosobowy-nr3.html
    klass: duzy-pokoj-piecioosobowy-nr3
    desc:
  - image: images/duzy-pokoj-czteroosobowy-nr2/01.jpg
    title:
    link_to: /duzy-pokoj-czteroosobowy-nr2.html
    klass: duzy-pokoj-czteroosobowy-nr2
    desc:
  - image: images/duzy-pokoj-dwuosobowy-nr1/01.jpg
    title:
    link_to: /duzy-pokoj-dwuosobowy-nr1.html
    klass: duzy-pokoj-dwuosobwy-nr1
    desc:
  - image: images/duzy-pokoj-piecioosobowy-nr3/02.jpg
    title:
    link_to: /duzy-pokoj-piecioosobowy-nr3.html
    klass: duzy-pokoj-piecioosobowy-nr3
    desc:
  - image: images/duzy-pokoj-czteroosobowy-nr2/02.jpg
    title:
    link_to: /duzy-pokoj-czteroosobowy-nr2.html
    klass: duzy-pokoj-czteroosobowy-nr2
    desc:
  - image: images/duzy-pokoj-czteroosobowy-nr2/03.jpg
    title:
    link_to: /duzy-pokoj-czteroosobowy-nr2.html
    klass: duzy-pokoj-czteroosobowy-nr2
    desc:
  - image: images/duzy-pokoj-czteroosobowy-nr2/04.jpg
    title:
    link_to: /duzy-pokoj-czteroosobowy-nr2.html
    klass: duzy-pokoj-czteroosobowy-nr2
    desc:
  - image: images/duzy-pokoj-dwuosobowy-nr1/02.jpg
    title:
    link_to: /duzy-pokoj-dwuosobowy-1.html
    klass: duzy-pokoj-dwuosobwy-nr1
    desc:
  - image: images/duzy-pokoj-piecioosobowy-nr3/05.jpg
    title:
    link_to: /duzy-pokoj-piecioosobowy-nr3.html
    klass: duzy-pokoj-piecioosobowy-nr3
    desc:
  - image: images/duzy-pokoj-czteroosobowy-nr2/05.jpg
    title:
    link_to: /duzy-pokoj-czteroosobowy-nr2.html
    klass: duzy-pokoj-czteroosobowy-nr2
    desc:
  - image: images/duzy-pokoj-piecioosobowy-nr3/04.jpg
    title:
    link_to: /duzy-pokoj-piecioosobowy-nr3.html
    klass: duzy-pokoj-piecioosobowy-nr3
    desc:
  - image: images/duzy-pokoj-czteroosobowy-nr2/06.jpg
    title:
    link_to: /duzy-pokoj-czteroosobowy-nr2.html
    klass: duzy-pokoj-czteroosobowy-nr2
    desc:
---


<div class='full parallax' style='background-image: url(images/slider/wisla_pasmo_gorskie_cienkow.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Pokoje w Wiśle" tagline="Zapraszamy do trzech przestronnych pokoi o wysokim standardzie" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>wszystkie</a>
          </li>
          <li>
            <a data-cat='duzy-pokoj-dwuosobwy-nr1' href='#'>Dwuosobowy (nr. 1)</a>
          </li>
          <li>
            <a data-cat='duzy-pokoj-czteroosobowy-nr2' href='#'>Czteroosobowy (nr. 2)</a>
          </li>
          <li>
            <a data-cat='duzy-pokoj-piecioosobowy-nr3' href='#'>Pięcioosobowy (nr. 3)</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>
