<div id='footer'>
    <div class='three spacing'></div>
    <div class='row banners'>
        <div class='large-3 medium-3 columns'>
            <a href="http://www.eholiday.pl/noclegi-ra7212.html" title="Willa U Sabi Wisła" target="_blank">
                <img src="http://www.eholiday.pl/img/partner/l3a.gif" alt="Willa U Sabi Wisła" border="0" height="70">
            </a>
            <a href="http://www.eholiday.pl/noclegi-wisla-47237.html" title="noclegi Wisła" target="_blank">
                <img src="http://www.eholiday.pl/img/partner/l3b.gif" alt="noclegi Wisła" border="0" height="70">
            </a>
            <a href="http://www.eholiday.pl" title="noclegi" target="_blank">
                <img src="http://www.eholiday.pl/img/partner/l3c.gif" alt="noclegi" border="0" height="70">
            </a>
            <div class='spacing'></div>
        </div>

        <div class='large-3 medium-3 columns'>
            <a href="http://www.nocowanie.pl/noclegi/wisla/willa/80914/" target="_blank" title="Willa Sabi">
                <img src="http://img.nocowanie.pl/files/photos/exban/7_1.gif" alt="Willa Sabi" border="0" height="70">
            </a>
            <a href="http://www.nocowanie.pl/noclegi/wisla/" target="_blank" title="Wisła">
                <img src="http://img.nocowanie.pl/files/photos/exban/7_2.gif" alt="Wisła" border="0" height="70">
            </a>
            <a href="http://www.nocowanie.pl/" target="_blank" title="noclegi">
                <img src="http://img.nocowanie.pl/files/photos/exban/7_3.gif" alt="noclegi" border="0" height="70">
            </a>
            <div class='spacing'></div>
        </div>

        <div class='large-3 medium-3 columns'>
            <a href="http://www.noclegi-online.pl" target="_blank">
                <img alt="noclegi" src="http://www.noclegi-online.pl/afi/11.gif" border="0">
            </a>
            <a href="http://www.noclegi-online.pl/noclegi/wisla" target="_blank">
                <img alt="Wisła noclegi" src="http://www.noclegi-online.pl/afi/12.gif" border="0">
            </a>
            <a href="http://www.noclegi-online.pl/noclegi/wisla/o11285" target="_blank">
                <img alt="A u Sabi - sauna i masaż" src="http://www.noclegi-online.pl/afi/13.gif" border="0">
            </a>
            <div class='spacing'></div>
        </div>

        <div class='large-3 medium-3 columns'>
            <a href="http://mojeurlopy.pl/noclegi/wisla" title="Mojeurlopy.pl">
                <img src="http://mojeurlopy.pl/banery/banner.png" alt="Mojeurlopy.pl">
            </a>
            <div class='spacing'></div>
        </div>
    </div>

    <div class='three spacing'></div>

    <div class='row'>
        <div class='large-3 medium-3 columns'>
            <h1>
                <a href='index.html'>
                    <h2 class="logo">Willa Sabi</h2>
                </a>
            </h1>
            <p>©&nbsp;2010 - {{ site.time | date: '%Y' }} U Sabi <br/>Wszystkie prawa zastrzeżone.</p>
            <div class='spacing'></div>
            <div class='spacing'></div>
        </div>
        <div class='large-3 medium-3 columns'>
            <div class='spacing'></div>
            <div class='links'>
                <h4>Numer konta bankowego</h4>
                <ul>
                    <li>22&nbsp;1050&nbsp;1083&nbsp;1000&nbsp;0023&nbsp;2620&nbsp;1403</li>
                </ul>
            </div>
            <div class='spacing'></div>
        </div>
        <div class='large-3 medium-3 columns'>
            <div class='spacing'></div>
            <div class='links'>
                <h4>Ważne Informacje</h4>
                <ul>
                    <li>W obiekcie jest zakaz palenia.</li>
                    <li>Prosimy o nie przywożenie zwierząt.</li>
                    <li>Wystawiamy Faktury.</li>
                </ul>
            </div>
            <div class='spacing'></div>
        </div>
        <div class='large-3 medium-3 columns'>
            <div class='spacing'></div>
            <h4>Skontaktuj się z nami</h4>
            <ul>
                <li>500 050 386</li>
                <li>kontakt@usabi.pl</li>
            </ul>
            <div class='spacing'></div>
            <ul class='socials'>
                <li>
                    <a href='https://www.facebook.com/pokojeusabi/'>
                        <i class='fa fa-facebook'></i>
                    </a>
                </li>
                <li>
                    <a href='https://www.google.pl/maps/place/Willa+u+Sabi/@49.610059,18.8894869,17z/data=!4m13!1m7!3m6!1s0x471417e4a7aa9887:0x1957fc8f93e4cea!2sWilla+u+Sabi!3b1!8m2!3d49.610059!4d18.8916809!3m4!1s0x471417e4a7aa9887:0x1957fc8f93e4cea!8m2!3d49.610059!4d18.8916809'>
                        <i class='fa fa-map-marker'></i>
                    </a>
                </li>
            </ul>
            <div class='spacing'></div>
        </div>
    </div>
    <div class='two spacing'></div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
